<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-header title">Novo</div>
            <div class="card-title">
                <input type="text" class="input-titulo" placeholder="Título">
            </div>
            <div class="card-content">
                <textarea class="ta-content" placeholder="Sua tarefa"></textarea>
            </div>
            <div class="card-footer novo">
                <i class="fas fa-plus-circle blue"></i>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
                <h1>Todo</h1>
                <i class="fas fa-edit blue icon"></i>
            </div>
            <div class="card-content">
                <p class="card-p">Tarefa</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-arrow-alt-circle-left blue icon"></i>
                <i class="fas fa-trash icon"></i>
                <i class="fas fa-arrow-alt-circle-right blue icon"></i>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1>Todo</h1>
            </div>
            <div class="card-content">
                <p class="card-p">Edit Mode</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-ban red icon"></i>
                <i class="far fa-save green icon"></i>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
                <h1>Doing</h1>
                <i class="fas fa-edit blue icon"></i>
            </div>
            <div class="card-content">
                <p class="card-p">Tarefa</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-arrow-alt-circle-left blue icon"></i>
                <i class="fas fa-trash icon"></i>
                <i class="fas fa-arrow-alt-circle-right blue icon"></i>
            </div>

        </div>

        <div class="card">
            <div class="card-header">
                <h1>Doing</h1>
            </div>
            <div class="card-content">
                <p class="card-p">Edit Mode</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-ban red icon"></i>
                <i class="far fa-save green icon"></i>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-header">
                <h1>Done</h1>
                <i class="fas fa-edit blue icon"></i>
            </div>
            <div class="card-content">
                <p class="card-p">Tarefa</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-arrow-alt-circle-left blue icon"></i>
                <i class="fas fa-trash icon"></i>
                <i class="fas fa-arrow-alt-circle-right blue icon"></i>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h1>Done</h1>
            </div>
            <div class="card-content">
                <p class="card-p">Edit Mode</p>
            </div>
            <div class="card-footer">
                <i class="fas fa-ban red icon"></i>
                <i class="far fa-save green icon"></i>
            </div>
        </div>
    </div>
    
</div>
